.hud{
  border: 5px solid black;
  margin: auto;
  width: 48%;
  border-radius: 10px;

}
#player1{
  float: left;
  background-color: blue;
}
#player2{
  float: right;
  background-color: red;
}
#p1Name{
  text-align: center;
  line-height: 0px;
  font-family: fantasy;
  font-size: 20px;
}
#p2Name{
  text-align: center;
  line-height: 0px;
  font-family: fantasy;
  font-size: 20px;
}
.type{
  margin-left: 10px;
  font-family: fantasy;
  font-size: 15px;
}
.health{
  margin-left: 10px;
  font-family: fantasy;
  font-size: 15px;
}
