body{
  background-color: black;
}
/* background */
h1{
  text-align: center;
  font-family: fantasy;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: black;
}
/* the display of character data */
.hud{
  border: 5px solid white;
  width: 48%;
  border-radius: 10px;
  -webkit-text-stroke: 1px white;
  -webkit-text-fill-color: black;
}
/* left display */
#player1{
  float: left;
  text-align: center;
  background-color: blue;
}
/* right display */
#player2{
  float: right;
  text-align: center;
  background-color: red;
}
/* player labels*/
#p1Name{
  text-align: center;
  line-height: 0px;
  font-family: fantasy;
  font-size: 30px;
}
#p2Name{
  text-align: center;
  line-height: 0px;
  font-family: fantasy;
  font-size: 30px;
}
/*players types*/
.type{
  margin-left: 10px;
  text-align: left;
  font-family: fantasy;
  font-size: 25px;
}
/*players health*/
.health{
  margin-left: 10px;
  text-align: left;
  font-family: fantasy;
  font-size: 25px;
}
/* buttons position */
.choose{
  border: 1px;
  margin-bottom: 10px;
}
/* button appearence */
.buttons1{
  background-color: red;
  font-size: 25px;
  font-family: fantasy;
  border-radius: 10px;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
}
.buttons2{
  background-color: blue;
  font-size: 25px;
  font-family: fantasy;
  border-radius: 10px;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
}
.moves1{
  margin-top: 20px;
  float: left;
  width: 48%;
  text-align: center;
}
.moves2{
  margin-top: 20px;
  float: right;
  width: 48%;
  text-align: center;
}
.movesButtons1{
  margin: 10px;
  font-family: 'Creepster', cursive;
  font-size: 30px;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: red;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
  display: none;
}
.movesButtons2{
  margin: 10px;
  font-family: 'Creepster', cursive;
  font-size: 30px;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: blue;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
  display: none;
}